*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.DS_Store
.classpath
.project
/Servlet-MongoDB/src/main/java/rebel.xml
/RestFul-MongoDB/src/main/java/rebel.xml
/SpringMVCHibernateOGM/src/main/java/rebel.xml
/SpringMVC-MONGODB/src/main/java/rebel.xml
.tern-project
.springBeans
.settings/
target/
/bin/
